*{direction: rtl;}
.left, .row .col, nav ul li{float: right !important;}
.right {float: left !important;}
.dt_fotr_spn {margin-right: auto;margin-left: 0;}
.dt_msg_box .msg_header .msg_toolbar .btn.close, .dt_msg_box .modal-content .chat_conversations .chat_toolbar .btn.close, .dt_msg_box .modal-content .chat_conversations .chat_navigation .btn.back {margin-left: 0;margin-right: 15px;}
.dt_msg_box .msg_header .msg_toolbar .btn.mark_read svg {margin-right: 0;margin-left: 5px;}
.dt_msg_box .msg_header .msg_toolbar .btn.chat_stts_dropd {margin-right: 0;margin-left: 10px;}
.dt_msg_box .msg_header h2 svg {margin: 2px 0 0 5px;}
.dt_msg_box .msg_container .m_search .search_input input {padding: 8px 60px 8px 20px;}
.dt_msg_box .msg_container .m_search .search_input > svg {left: auto;right: 20px;}
.dt_msg_box .msg_container .m_search .srch_filter {right: auto;left: 15px;}
.switch label .lever:before, .switch label .lever:after {left: auto;right: 0;}
.dt_msg_box .modal-content .msg_list label input[type=checkbox]:checked+.lever:before, .dt_msg_box .modal-content .msg_list label input[type=checkbox]:checked+.lever:after {left: auto;right: 25px;}
.dt_msg_box .msg_header .msg_toolbar .btn.chat_stts_dropd+.dropdown-content {min-width: 260px;}
.dt_msg_box .msg_container button.msg_requests span {float: right;}
.dt_msg_box .msg_container .m_body .m_conversation .m_con_item {padding-left: 15px;padding-right: 85px;}
.dt_msg_box .msg_container .m_body .m_conversation .m_con_item .m_c_item_avatar {left: auto;right: 15px;}
.dt_msg_box .msg_container .m_body .m_conversation .m_con_item .m_c_item_avatar .online_dot {right: auto;left: 0;}
.dt_msg_box .modal-content .chat_conversations .chat_navigation .btn.back {margin: 0 0 0 15px;transform: rotate(180deg);}
.dt_msg_box .modal-content .chat_conversations .chat_participant .c_avatar {margin-right: 0;margin-left: 12px;}
.dt_msg_box .modal-content .chat_conversations .chat_participant .c_name span.last_seen {margin-left: 0;margin-right: 5px;}
.dt_msg_box .modal-content .chat_conversations .chat_toolbar > div .dropdown-content li>a svg {margin: auto 2px 0 7px;}
.dt_msg_box .modal-content .chat_conversations .chat_toolbar > div .dropdown-content {left: 0 !important;right: auto;}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_body .chat_body_content .msg_s_combo .m_msg_part {margin-right: 0;margin-left: 24px;}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_body .chat_body_content .messages--sent .message {float: left;}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_body .chat_body_content .msg_r_combo .m_msg_part {margin-left: 0;margin-right: 40px;}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_body .chat_body_content .messages--received .message {float: right;}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_body .chat_body_content .msg_s_combo .seen {right: auto;left: 2px;}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_foot .chat_f_send .btn-floating {transform: rotate(180deg);}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_foot .chat_f_textarea .chat_f_attach {right: auto;left: 11px;}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_foot .emojionearea .emojionearea-button {left: auto;right: 8px;}
#gify_box .modal-content h5 > div, #stiker_box .modal-content h5 > div {margin: 1px 0 0 8px;}
#gify_box .modal-content h5 > input {float: left !important;text-align: right !important;margin-left: 0 !important;margin-right: 50px !important;}
.modal .modal-footer {text-align: left;}
.dt_to_top {right: auto;left: 32px;}
.dt_foot_langs > .dropdown-content {left: 0 !important;right: auto;}
.dt_slide_menu {margin-right: 0;margin-left: 16px;}
nav .header_logo {margin-right: 0;margin-left: 55px;}
ul:not(.browser-default) {padding-right: 0;}
.prema {margin-left: 0;margin-right: 12px;}
nav .header_home_link li a.prem span, a.prem span, .prema span {
    margin: -3px -18px -2px 5px;
}
nav li.credit .how_credtss svg {
    margin: -2px 0 0 3px;
}
nav .header_msg span.badge, nav .header_notifications span.badge {
    right: auto;
    left: -4px;
}
nav .header_notifications .dt_notifs .time {
    margin-left: 0;
    margin-right: auto;
}
nav .header_user > a {
    margin: 8px 10px 8px 0 !important;
}
nav .header_user > a img {
    margin: -1px -13px -1px 10px;
}
nav .header_user > a svg {
    margin: 2px 6px 0 0px;
}
nav .header_user .dropdown-content > li > a svg, .dt_left_sidebar .menu > li > a svg {
    margin: 0 0 0 17px;
}
nav .header_credits > a.btn-flat {margin: 10px 2px 10px 15px;}
nav .header_credits > a.btn-flat svg {margin: 0 -2px 0 5px;}
nav .header_user .dropdown-content, nav .header_notifications .dropdown-content {left: 0 !important;right: auto;}
nav .header_user .dropdown-content:before, nav .header_notifications .dropdown-content:before {right: auto;left: 27px;}
nav .header_notifications .dropdown-content:before {right: auto;left: 12px;}
nav .header_notifications .dt_notifs .avatar {margin: 4px 0 0 12px;}
.dt_left_sidebar .menu > li > a.active::after {
    margin-left: 0;
    margin-right: auto;
    transform: scaleX(-1);
}
.dt_right_side_story_list .images img:nth-child(2) {
    margin-left: 0;
    margin-right: -36px;
}
.dt_right_side_story_list:hover .images img {
	margin-left: 0;margin-right: -6px;
}
.dt_right_side_story_list:hover .images img:nth-child(2) {
	margin-left: 0;margin-right: -30px;
}
nav .header_user .dropdown-content li a#night_mode_toggle svg, .find_matches_cont .home_short_links .home_usr_link li a#night_mode_toggle_sidebar svg {margin-left: 0;margin-right: auto;}
.find_matches_cont .home_usr_sct li .user_popularity_icn {margin-right: -7px;margin-left: 7px;}
.find_matches_cont .home_usr_sct .btn svg {margin: -1px -10px 0 10px;}
.find_matches_cont .home_short_links .home_usr_link li a svg, .dt_home_pro_usr h4 svg {margin: auto 0 0 14px;}
.dt_home_filters_prnt {margin-right: 0px;margin-left: 10px;}
.dt_home_filters_head button {margin-left: 0;margin-right: auto;}
.select-wrapper .caret {right: auto;left: 0;}
.dt_home_filters .collapsible .search_filters form .dt_hm_filtr_loc > label {border-right: 0;border-left: 1px solid #e4e4e4;margin-right: 0px;margin-left: 10px;padding-right: 0px;padding-left: 10px;}
.dt_home_match_user .mtc_usr_avtr .usr_thumb {
    margin: 0 0 30px 25px;
}
.mtc_usrd_content .mtc_usrd_sidebar .mtc_usrd_summary h5:before {
    left: auto;
    right: -70px;
}
.mtc_usrd_content .mtc_usrd_slider .mtc_usrd_actions .btn.like {margin-right: 0;margin-left: 15px;}
.mtc_usrd_content .mtc_usrd_sidebar:before {left: auto;right: -10px;transform: rotate(180deg);}
.mtc_usrd_content .mtc_usrd_sidebar .sidebar_usr_info p svg {margin-right: 0;margin-left: 5px;}
.dt_home_rand_user h4 > div {margin: 1px 0 0 8px;}
.dt_home_rand_user .rand_bottom_bar .btn {margin: 0px 10px 0 0;}
.dt_home_rand_user .rand_bottom_bar .btn.like {margin-right: 0;}
.dt_home_filters_head button svg {margin-left: 0;margin-right: 4px;}
.input-field.col label {left: auto;right: .75rem;}
.dt_login form button svg, .dt_contact form button svg, .dt_sett_footer button svg {margin-left: 0px;margin-right: 10px;transform: rotate(180deg);}
.dt_login form button:hover svg, .dt_contact form button:hover svg, .dt_sett_footer button:hover svg {-webkit-transform: translateX(-3px) rotate(180deg);-moz-transform: translateX(-3px) rotate(180deg);-ms-transform: translateX(-3px) rotate(180deg);-o-transform: translateX(-3px) rotate(180deg);transform: translateX(-3px) rotate(180deg);}
.input-field>label, .input-field>label:not(.label-icon).active, .input-field>input[type]:-webkit-autofill:not(.browser-default)+label, .input-field>input[type=date]:not(.browser-default)+label, .input-field>input[type=time]:not(.browser-default)+label {-webkit-transform-origin: top right;transform-origin: top right;}
.credit_bln svg {right: auto;left: -40px;}
.credit_ftr li svg {margin-right: 0;margin-left: 7px;}
.credit_pln p label b svg {margin: 2px 0 0px 2px;}
.credit_pln .pay_using .pay_u_btns .btn svg, .dt_premium .pay_using .pay_u_btns .btn svg {margin-left: 0;margin-right: 7px;}
.dt_bank_trans_modal .bank_info .bank_info_innr > svg {left: auto;right: .5rem;}
.dt_bank_trans_modal .bank_info .bank_info_innr .bank_name {font-size: 22px;padding: 22px 55px 0 .75rem;}
.dt_bank_trans_modal .dt_user_profile > span svg {margin-right: 0;margin-left: 5px;}
.dt_login_footer a {margin-left: 0;margin-right: auto;}
.dt_social_login .btn_social {float: right;}
.btn_social {padding: 0px 0 0px 10px;}
.btn_social > span {margin-right: 0;margin-left: 6px;}
[type="checkbox"]+span:not(.lever) {padding-left: 0;padding-right: 35px;}
[type="checkbox"].filled-in+span:not(.lever):before, [type="checkbox"].filled-in+span:not(.lever):after {left: auto;right: 0;}
.dt_login form.register .terms_check [type="checkbox"].filled-in:checked+span:not(.lever):before {left: auto;right: 9px;}
.dt_user_info .dt_chng_avtr span svg {margin-right: 0px;margin-left: 10px;}
.dt_user_info .info .combo .user_btn, .dt_user_about .about_block h4 span, .dt_user_prof_complt h5 span, .dt_premium .dt_choose_pro p label .pln_name .price, .dt_user_info .info .combo .dt_usr_opts_mnu {margin-left: 0;margin-right: auto;}
.dt_user_about .about_block h4 svg {margin-right: 0px;margin-left: 10px;}
.dt_user_info .info p svg, .dt_user_likes ul li a svg {margin-right: 0;margin-left: 3px;}
.dt_user_likes ul li {margin-left: 0;margin-right: 13px;}
.dt_user_social ul li .soc_icon {margin-right: 0;margin-left: 12px;}
.dt_terms_sidebar ul li.active:before {left: auto;margin-left: 0;right: 100%;margin-right: -15px;}
.dt_premium .dt_choose_pro p label .pln_name {padding: 19px 52px 19px 20px;}
.dt_premium .dt_choose_pro p label [type="radio"]+span:before, .dt_premium .dt_choose_pro p label [type="radio"]+span:after {left: auto;right: 15px;}
.dt_premium .dt_choose_pro {border-right: 0;border-left: 1px solid #eee;padding-right: 0px;padding-left: 20px;}
.dt_settings form .switch label input[type=checkbox]:checked+.lever:before, .dt_settings form .switch label input[type=checkbox]:checked+.lever:after, dt_msg_box.open_list .modal-content .msg_list input[type=checkbox]:checked+.lever:before, dt_msg_box.open_list .modal-content .msg_list input[type=checkbox]:checked+.lever:after {left: auto;right: 25px;}
.chip {margin-right: 0;margin-left: 5px;}
.dt_settings form h5 svg {margin-right: 0;margin-left: 7px;}
body h5.empty_state svg {margin: 0 auto 15px;}
.steps_header .step-one {left: auto;right: 0;}
.steps_header .steps > div > .liner {right: 0;left: auto;}
.steps_header .steps > div {transform: translate(50%);}
.steps_header .step-two, .steps_header .line .dot.center {left: auto;right: 50%;}
.steps_header .step-three, .steps_header .line .dot.full {left: auto;right: 100%;}
.steps_header .line .dot-move {left: auto;right: 0%;transform: translate(50%, -50%);}
.steps_header .line .dot.zero {left: auto;right: 0%;}
.steps_header .line .dot {transform: translate(50%, -50%) scale(.5);}
.slider-form {float: right;}
.slider-form .step_footer {text-align: left;}
.slider-form .step_footer .btn svg {margin-left: 0;margin-right: 7px;}
.slider_container.center .line .dot-move {left: auto;right: 50%;}
.slider_container.center .slider {transform: translate(680px);}
.slider_container.full .slider {transform: translate(1360px);}
.slider_container.full .line .dot-move {left: auto;right: 100%;}
nav .boosted_message_expire span {margin-right: 0;margin-left: -10px;padding: 0 10px 0 20px;border-radius: 0 2em 2em 0;}
nav .boost-running {margin-right: 0;margin-left: 15px;}
.dt_footer_links {margin-right: 0;margin-left: 6px;}




@media (max-width: 1024px) {
.find_matches_cont > .row > .col.l3 {left: auto;right: -300px;}
body.side_open .find_matches_cont > .row > .col.l3 {left: auto;right: 0;}
}

@media (max-width: 480px) {
nav .header_user > a {margin-right: 15px !important;margin-left: 0 !important;}
.dt_fotr_spn {margin: 0;}
.dt_foot_langs {position: static;}
.dt_footer_links {margin-right: 0;margin-left: 0;}
.dt_foot_langs > .dropdown-content {right: 0 !important;width: 100% !important;}
}


.qd_story_head .btn{
    margin-left: inherit;
    margin-right: auto;
}


.qd_gift_data_foot .avatar {margin-right: 0;margin-left: 8px;}


.dt_mini_sidebar_links {
    left: auto;
    right: 0;
}
.dt_hdr_sec_links ul li a svg {
    margin: -4px 0 0 5px;
}
.home_usr_sct > div .user_popularity_icn {
    margin-right: -7px;
    margin-left: 7px;
}
.dt_home_pro_usr .pro_usrs_container .pro_usr a img {
    margin: -2px 0 0 3px;
}
.qd_blog_srch > svg {
    right: auto;
    left: 0;
}
.article_of_the_day > h3:before {
    left: auto;
    right: -10px;
}
.qd_blog_lists .qd_blog_list_info h5:before {
    left: auto;
    right: -9px;
}
.qd_blog_lists .qd_blog_list_img p {
    left: auto;
    right: 15px;
}
.dt_home_pro_usr h4 svg, .dt_credits > h4.bold svg {
    margin: 2px 0 0 8px;
}
.mtc_usrd_content .mtc_usrd_sidebar .sidebar_usr_info p {
    padding: 10px 0 0 20px;
}
.continue_reading_list img {
    margin-right: 0;
    margin-left: 10px;
}


.qd_hot_not .qd_hot_not_media:before {
    left: auto;
    right: -26px;
}
.dt_home_filters .collapsible > li > .main_fltr_close {
    right: auto;
    left: 20px;
}
.dt_terms_sidebar ul {
    padding: 6px;
}
.dt_home_filters .collapsible.actiee:after {
    left: auto;
    right: 12px;
}
.dt_authpage .svg_divider {
    left: auto;
    right: 100%;
    transform: none;
}
.dt_auth_footr_page {
    left: -30px;
    right: 0;
}
.dt_how_it_works_arrow img {
    transform: rotate(87deg);
    margin: 0 -45px 0 0;
}
.qd_hot_not .mtc_usrd_content .mtc_usrd_actions .btn {
    margin: 0 12px 0 0 !important;
}
.qd_hot_not.dt_home_match_user .mtc_usr_avtr {
    padding: 0 0 0 20px;
}
.dt_user_info .info .dt_usr_opts_mnu > a svg {
    margin: 0 0 0 5px;
}

.dt_poplrity_cont .dt_pop_ftr {
    margin-left: 0;
    margin-right: auto;
}
.dt_pro_features .featrr svg {
    margin-right: 0;
    margin-left: 15px;
}
.dt_premium .dt_choose_pro p label .pln_name .pln_popular {
    left: auto;
    right: 5px;
    border-radius: 0 3px 3px 0;
}
.dt_premium .dt_choose_pro p label .pln_name .pln_popular .pln_popular_tail {
    right: auto;
    left: -16px;
    transform: scaleX(-1);
}
.dt_home_pro_usr .pro_usrs_container .add_me a .add_icon {
    margin: -2px 0 0 3px;
}
.success_story_item .qd_story_card_usr_foot time {
    margin-left: 0;
    margin-right: auto;
}


.info_select_radio_btn .sr_btn_lab_innr .switch {
    margin-left: 0;
    margin-right: auto;
}
.dt_live_users .ajax-time {right: auto;left: 0;border-radius: 0 2em 2em 0;}




@media (min-width : 1185px) {
body.side_open > #container {padding-left: 0;padding-right: 220px;}
}

@media (max-width: 1185px) {
.dt_mini_sidebar_links {transform: translateX(105%);}
body.side_open .dt_mini_sidebar_links {transform: translateX(0);}
}

@media (max-width : 525px) {
.steps_header_steps li div {padding: 0px 27px 0px 15px;}
}

.success_story_item .qd_story_card_usr_imgs a:nth-child(2) {
    margin-left: 0;
    z-index: 3;
    margin-right: -17px;
}

.dt_transaction_table thead tr th:first-child, .dt_transaction_table tbody tr td:first-child {
    border-radius: 0 6px 8px 0;
}
.dt_transaction_table thead tr th:last-child, .dt_transaction_table tbody tr td:last-child {
    border-radius: 6px 0 0 8px;
}
.qd_cred_bl svg {
    transform: scaleX(-1);
}
.credit_ftr > svg {
    transform: translateX(-50%) scaleX(-1);
}
.round_check {
    padding: 3px 3px 3px 13px;
}
.round_check .circle {
    margin-right: 0;
    margin-left: 13px;
}
.input-field>label {
    left: auto;
    right: 0;
}
.input-field>label:not(.label-icon).active, .dt_settings form .select-wrapper+label, .twocheckout_modal .select-wrapper+label {
    left: auto;
    right: 22px;
}
.dt_usr_affl .input-field .btn {
    right: auto;
    left: 0;
}
.earn_points .ep_illus .ep_how_many svg {
    margin: 0 0 0 15px;
}
.dt_ltst_users .card-image > .btn {
    right: auto;
    left: 0;
}
.dt_terms h2.bold.terms:before {
    left: auto;
    right: -20px;
}
.dt_go_pro_plan .head svg {
    margin-right: 0;
    margin-left: 15px;
}
.dt_go_pro_plan .mid p {
	padding-left: 0;padding-right: 30px;
}
.dt_go_pro_plan .mid p svg {
    left: auto;right: 0;
}
.dt_msg_box.open_list .msg_container .m_filters .switch .lever:before, body .dt_msg_box.open_list .msg_container .chat_filter .lever:before {
    left: auto;
    right: 4px;
}
.dt_msg_box.open_list .msg_container .m_filters .switch .lever:after, body .dt_msg_box.open_list .msg_container .chat_filter .lever:after {
    right: auto;
    left: 4px;
}
.dt_msg_box .msg_container .m_filters .switch b, .dt_msg_box .msg_container .chat_filter b {
    left: auto;
    right: 22px;
}
.dt_msg_box .msg_container .chat_filter b {
    left: auto;
    right: 30px;
}
.dt_msg_box .msg_container .m_filters .switch b.last, .dt_msg_box .msg_container .chat_filter b.last {
    left: 22px;
    right: auto;
}
.dt_msg_box .msg_container .chat_filter b.last {
    right: auto;
    left: 15px;
}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_foot .chat_f_attach {
    margin-right: 0;
    margin-left: 13px;
}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_foot .chat_f_textarea .emojionearea {
    border-radius: 0 2em 2em 0;
}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_foot .chat_f_textarea .emojionearea .emojionearea-editor {
    margin: 0 15px 0 40px;
}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_foot .chat_f_textarea .emojionearea .emojionearea-button {
    left: 8px;
    right: auto;
}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_body .chat_body_content .messages--received .message {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 16px;
    border-top-right-radius: 5px;
}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_body .chat_body_content .messages--received .message:first-child {
    border-top-right-radius: 16px;
}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_body .chat_body_content .messages--sent .message {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 16px;
    border-top-left-radius: 5px;
}
.dt_msg_box .modal-content .chat_conversations .chat_container .chat_body .chat_body_content .messages--sent .message:first-child {
    border-top-left-radius: 16px;
}
nav .header_user .dropdown-content > li > a:hover {
    box-shadow: inset -3px 0px 0 #cc42bd;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 36px;
    margin-right: -20px;
}
.main_header_nav .not_usr_nav {
    padding: 17px 0 17px 50px;
    margin: -17px 0 -17px -50px;
    display: flex;
    justify-content: end;
}
.dt_index_random_users {
    margin: -220px 0 0 -153px;
    float: left;
}
.dt_index_random_users > div:nth-child(1) {
    margin-left: 0;
    margin-right: -329px;
}
.header_bg .btn-large.main-hdr-bttn {
    margin: 40px 0 0 50px;
}
.dt_hdr_filters {
    margin: 120px -50px 0 0;
}
.header_svg_circle {
    right: auto;
    left: -180px;
}
.dt_header_short_desc > svg.first {
    left: auto;
    right: 0;
    transform: scaleX(-1);
}
.dt_index_pro_users {
    margin: 0 -38px 0 0;
}
.dt_header_short_desc > svg.second {
    right: auto;
    left: -350px;
    transform: scaleX(-1);
}
.dt_header_how_works_side > svg {
    right: auto;
    left: 0;
    transform: scaleX(-1);
}
.dt_header_how_works > svg {
    left: auto;
    right: -250px;
    transform: scaleX(-1);
}
.dt_test_title {
    margin: 20px 130px 60px 0;
}
.dt_testimonial_slide img:nth-child(2) {
    margin-left: 0;
    margin-right: -36px;
}

@media (min-width: 600px) {
.blocked_users .unblock_card .avatar {
    margin: 0 0 0 15px;
}
}


.load_more:before {
    margin: -1px 0 0 5px;
}
.dt_home_match_user .mtc_usrd_content .mtc_usrd_slider:before {
    left: auto;
	right: 8px;
}

.dt_new_home_filter .dt_home_filters_head .btn {
    margin-left: 0;margin-right: auto;
}


.dt_lang_modal li a svg {
    margin: -2px -3px 0 3px;
}